<p>labs works! Labs - {{ title }}</p>

<ul>
    <li *ngFor="let programmingLanguage of programmingLanguages">
        {{ programmingLanguage}}
    </li>
    <hr>
</ul>
<!-- string interpolation -->
{{ "Prueba \t".repeat(4) }}
<br>
<h1>{{nameCourse}}</h1>
<hr>
<!-- Property Binding  - Vinculación de propiedad -->
<input type="text" [value]="nameCourse" placeholder="Ingrese nombre del curso">

<!-- Event Binding click - double click - keydown keyup -->
<br>
<button type="button" (click)="viewNameCourse()">Ver nombre del curso</button>
<br>
<button type="button" (dblclick)="viewNameCoursex2()">Entre pues</button>
<h1>Contador: {{ contador() }}</h1>
<input type="text" [value]="contador()" (change)="changeHandlerCounter($event)" placeholder="Ingrese nombre del curso">
<input type="text" [value]="nameCourse" (keyup)="changeHandlerNameCourse($event)" placeholder="Ingrese nombre del curso">
<input type="text" [value]="nameCourse" (keyup.shift)="changeHandlerNameCourse($event)" placeholder="Ingrese nombre del curso">
<input type="text" [value]="nameCourse" (keydown.shift.t)="changeHandlerNameCourse($event)" placeholder="Ingrese nombre del curso">

<br>

<input type="color" [formControl]="colorControl">
<p>{{colorControl.value}}</p>


<svg>
    <g>
        <rect x="0" y="0" height="100" width="100" [attr.fill]="colorControl.value"/>
    </g>
</svg>

<hr>
<input type="number" [formControl]="anchoControl">
<span class="box" [style.width.px]="anchoControl.value" [style.backgroundColor]="colorControl.value"></span>